.select-product {
    height: 32px;
    font-size: 15px;
    border: none;
    padding: 0px;
    border-radius: 5px;
    background-color: oklch(39.1% 0.09 240.876);
    color: white;
    text-decoration: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='10' width='10' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 12,0 6,6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 8px center;
    width: 50%;
}

.preview-img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 15px;
}