.button-red, .button-blue, .button-green, .button-lightblue{
    border-radius: 10px;
    color: white;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    
}

.button-blue:hover, .button-red:hover, .button-green:hover, .button-lightblue:hover{
    opacity: 50%;
    cursor: pointer;
}

.button-red{
    background-color: rgb(232, 90, 90);
}

.button-blue{
    background-color: oklch(39.1% 0.09 240.876);
}

.button-green{
    background-color: oklch(51.1% 0.096 186.391);
}

.button-large{
    width: 250px;
}

.button-medium{
    width: 175px;
}

.button-small{
    width: 100px;
}

.button-lightblue{
    background-color:  oklch(50% 0.134 242.749);
}