form{
    display: flex;
    justify-content: center;
    background-color: oklch(30.2% 0.056 229.695);
        box-shadow: 0 4px 6px rgba(1, 1, 1, 0.3)
}



.link-form{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: oklch(51.1% 0.096 186.391);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 150px;
    border: none;
    margin-top: 10px;
}

.link-form-back{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(119, 142, 173);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-bottom: 10px;
    border: none;
}

.link-form:hover{
    opacity: 70%;
    cursor: pointer;
}
.link-form-back:hover{
    opacity: 70%;
    cursor: pointer;
}

.img-product{
    width: 120px;
    border-radius: 10px;
}

