.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.card-info {
  display: grid;
  gap: 5px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title-search {
  gap: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-search {
  height: 40px;
  font-size: 18px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: oklch(39.1% 0.09 240.876);
  color: white;
  width: 400px;
  box-shadow: 0 4px 6px rgba(1, 1, 1, 0.3)
}

.button-delete {
  border-radius: 10px;
  color: white;
  background-color: rgb(232, 90, 90);
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;

}

.button-edit {
  border-radius: 10px;
  color: white;
  background-color: oklch(39.1% 0.09 240.876);
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.buttons {
  gap: 10px;
}

.button {
  border-radius: 10px;
  color: white;
  background-color: oklch(39.1% 0.09 240.876);
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.search {
  display: flex;
  gap: 15px;
}